.contact {
    padding: 5rem 0 2.75rem;
}

.data-wrap {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin: 0 -15px;
}

.data-wrap-info {
width: 40%;
margin: 0 15px;
}

.data-wrap-messadge {
width: 40%;
margin: 0 15px;

}

input[type="text1"] {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    margin-bottom: 2.1875rem;
}

input[type="email1"] {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    margin-bottom: 2.1875rem;
}

input[type="password1"] {
border: none;
border-bottom: 1px solid #BDBDBD;
width: 100%;
margin-bottom: 0;
}

textarea {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 10.8375rem;
    
}

.btn-send {
    display: block;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 2.625rem;
    text-transform: capitalize;
    color: #FFF;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    text-align: center;
    width: 166px;
    cursor: pointer;
    transition: 0.2s;
    margin: 1.75rem auto 0;
}
.btn-send:hover {
    background-color: rgba(236, 121, 121, 0.8) ;
    border: 1px solid rgb(236, 121, 121);
    color: #333333;
}
