.design {
    padding: 3.5625rem 0 2.375rem;
    background-image: url('../img/bg/bg-design.png');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 50;
}

.design::after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}


.design-title {
    font-family:'Raleway';
    font-weight: 400;
    font-size: 2.25rem;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    line-height: 2.625rem;
 }

 .design-title::after {
     content: '';
     width: 4rem;
     height: 2px;
     background-color: #fff;
     display: block;
     margin: 2.125rem auto 2.125rem;
 }
 
 .design-title-text {
 text-align: center;
 }
 
 .design-title-text p {
     font-weight: 400;
     font-size: 0.875rem;
     line-height: 1.1875rem;
     color: rgba(255, 255, 255, 0.8);
 }

.design-download {
    display: block;
    margin: auto;
    width: 8.4375rem;
    height: 2.625rem;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 2.625rem;
    text-align: center;
    margin-top: 3.5625rem;
    background-color: rgba(196, 196, 196, 0);
    transition: 0.2s;
}

.design-download:hover {
   background-color: #252525;
   transform: scale(1.2)
}
