.footer {
padding: 1.875rem 0 0.9375rem;
background-color: #000000;
}

.footer-icons {
    width: 19.8125rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    margin: 0 auto 1.125rem;
}
.footer-icons-item a {
    font-size: 1.4375rem;
    color: #545454;
    transition: 0.2s;
}

.footer-icon:hover {
    color: #EC7979;
    transform: scale(1.3) rotate(20deg);
}

.footer-date {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}