@media (max-width:1200px) {
html {
    font-size: 14px;
}
.container {
max-width: 970px;
}
}

@media (max-width:992px) {
html {
    font-size: 12px;
}
.container {
max-width: 750px;
}
.title-wrap {
margin-bottom: 40px;
    }

.tabs-item-tab {
    width: 5.39rem;  
    height: 5.29375rem;
}
.tabs--info-title {
    margin-bottom: 2.5375rem;
    line-height: 1.5rem;
}
.tabs-info {
    width: 25.025rem;
}
.tabs-img {
   width: 224px;
   height: 179.34px;
   border: 1px solid transparent;
   overflow: hidden;
}
.tabs-img img {
   width: 100%;
   height: 100%;
    object-fit: cover;
    object-position: center;
}
.tabs-info-text {
    margin-bottom: 3.89375rem;
}
.media-icons {
    width: 29.925rem;
}
.awesome-card {
    width: 15.3125rem;
}
.tarif-card {
    width: 14.875rem;
}
.customer {
    width: 15rem;
}
}

@media (max-width:974px) {
    html {
        font-size: 14px;
    }
    .container {
    max-width: 800px;
    }

    .main-title {
    max-width: 430px;
}
.main-tagline {
    font-size: 2rem;
}
.form-content {
    width: 20rem;
}
.form-content-data {
    padding: 0 15px 25px;
}
}

@media (max-width:767px) {
    html {
        font-size: 10px;
    }
    .container {
   width: 100%;
    }

.main {
    padding: 50px 0 50px;
}
    .main-title {
    max-width: 100%;
    margin: 0 15px;
    text-align: center;
}
.main-text {
    width: 100%;
    margin: 0 auto 2.5rem;
    text-align: center;
}

.main-tagline::after {
    margin: 25px auto 25px;
}
.download {
    margin: 0 auto 30px;
}
.main-form {
    margin: auto;
}

.form-content-data {
    padding: 0 15px 15px;
}
.form-title {
    margin-bottom: 15px;
}

.media-icons{
    max-width: 300px;
}
.media-icons-item a {
    font-size: 30px;
}

.tabs {
    padding: 50px 0 50px;
}
.tabs-info {
    width: 390px;
    margin: 0;
}
.info-download {
    margin: auto;
}
.awesome {
    padding: 50px 0 50px;
}
.awesome-card {
    width: 220px;
}
.awesome-card:last-child {
    margin-top: 15px;
}
.tarif-card {
    width: 197px;
}
.customer {
    width: 220px;
}
}

@media (max-width:566px) {
html {
font-size: 13px;
}
.container {
max-width: 320px;
}

.nav-list {
    width: 420px;
}
.tabs-img  {
display: none;
}
.tabs-info {
    margin: 0 15px;
}
.awesome-wrap {
    justify-content: space-evenly;
}
.awesome-card:last-child {
    margin-top: 15px;
}
.tarif-wrap {
    justify-content: space-evenly; 
}
.tarif-card:last-child {
    margin-top: 15px;
}
.customer:first-child {
    display: none;
}
}