.price {
    padding: 5rem 0 3.75rem;
    background-color: #F5F5F5;
}

.tarif-wrap {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 -15px;
}

.tarif-card {
width: 21.25rem;
margin: 0 15px;
}

.tarif-card--title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    line-height: 3.125rem;
    color: #fff;
    background-color: #333333;
    margin-bottom: 2px;
}
.tarif-card--coust {
    font-family:'Raleway';
    font-weight: 700;
    font-size: 2.1875rem;
    text-align: center;
    line-height: 6.25rem;
    color: #fff;
    background-color: #333333;
    margin-bottom: 2px;
}
.tarif-card--info {
    font-weight: 600;
    font-size: 0.875rem;
    text-align: center;
    line-height: 3.125rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    margin-bottom: 4px;
}
.tarif-card-space {
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    line-height: 2.5rem;
    background-color: #FFFFFF;
    margin-bottom: 4px;
}
.tarif-card-space:last-child {
    margin-bottom: 0;
}